apiVersion: v1
kind: Secret
metadata:
  namespace: book-store
  name: app-secret
type: Opaque
data:
  DB_PASSWORD: b3BrbG5ta2xvcA==
  JWT_PRIVATE_KEY: "VlUwQUdnZ1MwVWVXc2xVM0YwN01fQnZYUm13aUlUQ3d5WElwTHBJZzVfZ1l4V05uQmZMcFZlUG9VSmQ4U3Rfb2dKOENjUmtuNlBVV0h5WnNXaHc="
stringData:
    # Postgres Config
    DB_HOST: postgres-database-live                      
    DB_DRIVER: postgres
    DB_USER: bmacharia
    DB_NAME: book_store_api
    DB_PORT: "5432" 
    #Go app PORT configuration
    PORT: "8080"
    # JWT Creds
    TOKEN_TTL: "1800"