apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: postgresdb
  labels: 
    app: postgresdb
spec:
  selector:
    matchLabels:
      app: postgresdb
      tier: postgres
  serviceName: postgresdb
  replicas: 1
  template:
    metadata:
      labels:
        app: postgresdb
        tier: postgres
    spec:
      containers:
      - name: postgres
        image: postgres:latest
        imagePullPolicy: "IfNotPresent"
        envFrom:
        - secretRef:
            name: postgres-secret
        ports:
        - containerPort: 5432
          name: postgres
        volumeMounts:
        - name: postgres-persistent-storage
          mountPath: /var/lib/postgresql/data
  volumes:
      - name: postgres-persistent-storage
        persistentVolumeClaim:
        claimName: efs-claim
  volumeClaimTemplates:
      - metadata:
          name: postgres-persistent-storage
          annotations:
            volume.beta.kubernetes.io/storage-class: "aws-efs"
        spec:
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 1Gi
